@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-primary: linear-gradient(
    135deg,
    rgba(254, 242, 0, 1) 0%,
    rgba(16, 93, 72, 1) 70%
  );
}

@layer utilities {
  .bg-button-admin {
    background: var(--gradient-primary);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --color-yellow0: #D1AE00;
  --color-yellow1: #FBD100;
  --color-yellow2: #FEF200;
  --color-green0: #0A3D30;
  --color-green1: #105D48;
  --color-green2: #299C00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans), "SF Pro Display", "SF Pro", Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Activity Slider Navigation */
.activity-swiper .swiper-button-next,
.activity-swiper .swiper-button-prev {
  color: rgba(255,255,255,0.92) !important;

  background: transparent !important;
  backdrop-filter: none !important;
  box-shadow: none !important;

  width: auto !important;
  height: auto !important;
  border-radius: 0 !important;

  transform: scale(1.45);
  transition: all 0.25s ease;

  top: 50%;
}

/* hover */
.activity-swiper .swiper-button-next:hover,
.activity-swiper .swiper-button-prev:hover {
  color: white;
  transform: scale(1.6);
}

/* arrow icon */
.activity-swiper .swiper-button-next::after,
.activity-swiper .swiper-button-prev::after {
  font-size: 26px !important;
  font-weight: 900;
}

/* ilangin efek aneh bawaan */
.activity-swiper .swiper-button-next::before,
.activity-swiper .swiper-button-prev::before {
  display: none !important;
}

/* posisi */
.activity-swiper .swiper-button-prev {
  left: 20px !important;
}

.activity-swiper .swiper-button-next {
  right: 20px !important;
}

/* disabled */
.activity-swiper .swiper-button-disabled {
  opacity: 0 !important;
}

/* Pagination bullets */
.activity-swiper .swiper-pagination-bullet {
  background: rgba(255,255,255,0.35) !important;
  opacity: 1;
}

.activity-swiper .swiper-pagination-bullet-active {
  background: #7dc142 !important;
}
